on: [push, pull_request]

name: Rust

env:
  RUSTDOCFLAGS: -D warnings

jobs:
  fmt-clippy-check-test:
    name: Format + Clippy + check + test
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        feature: [top_n, sync, serde, simd, "sync, serde", "sync, timer", "sync, timer, serde", "timer, serde", "sync, profiler"]
    steps:
      - uses: actions/checkout@v4

      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly

      - name: Set up cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Install cargo hack
        run: cargo install cargo-hack

      - name: Rustfmt
        run: cargo fmt --all -- --check

      - name: Clippy
        run: cargo hack clippy --workspace --all-targets --  -D warnings -W clippy::all

      - name: Check
        run: cargo hack check --all

      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest
        with:
          tool: nextest

      - name: Run tests with nextest
        run: cargo nextest run --features ${{ matrix.feature }}

  check_wasm:
    name: Check wasm32 compatibility
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          targets: wasm32-unknown-unknown

      - name: Set up cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Check wasm32 uwheel-demo
        run: cargo check -p uwheel-demo --lib --target wasm32-unknown-unknown

  check_no_std:
    name: Check no_std compatibility
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          targets: thumbv7m-none-eabi

      - name: Set up cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Check no_std support
        run: cargo check -p uwheel --lib --target thumbv7m-none-eabi --no-default-features

  query_integration_tests:
    name: Query integration tests
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly

      - name: Set up cargo cache
        uses: Swatinem/rust-cache@v2

      - name: Cache data file
        uses: actions/cache@v3
        with:
          path: crates/uwheel-query-tests/yellow_tripdata_2022-01.parquet
          key: yellow_tripdata-2022-01-parquet

      - name: Download data file if not cached
        run: |
          if [ ! -f crates/uwheel-query-tests/yellow_tripdata_2022-01.parquet ]; then
            (cd crates/uwheel-query-tests && ./fetch_data.sh)
          fi

      - name: Run query integration tests
        run: ./scripts/query_tests.sh
